body {

    margin: 0;
}

#circles {


    width: 100%;


}

#down {

    background-color: gray;
    height: 300px;
    text-align: center;
    padding: 250px;
    width:auto;

}


.img {

    border-radius: 50%;
    border: solid black 20px;
    width: 350px;
    height: 350px;
    margin-right: 30px;
    margin-left: 30px;
}

